
<div class="link-group">
  <a class="a" routerLink="cartographe" >Cartographe</a>
  <a class="a" routerLink="assistant">Assistant</a>
</div>


<mat-toolbar >
    <label class="spacer"></label>
    <mat-icon  *ngIf="!(obs |async ) " [matMenuTriggerFor]="menuConnect"  >
           account_circle
    </mat-icon>

    <section  [matMenuTriggerFor]="menuDisconnect"  >
        <div *ngIf = "obs | async as user">
          <div>{{recuperUserCourant(user)}}</div>
          <div> {{chamisCourant.pseudo}} </div><img [src]="user.photoURL"/></div>
    </section>
    <mat-menu  #menuConnect="matMenu"   >
      <div >
        <button mat-menu-item
        (click)="login()"  >
        <img [src]="dataIconGoogle" width="24" height="24"/>
        &nbsp;
        <span >Login avec Google</span>
       </button>
      </div>
    </mat-menu>
   <mat-menu   #menuDisconnect="matMenu" >
    <button mat-menu-item
        (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Déconnexion</span>
      </button>
  </mat-menu>
</mat-toolbar>

 <pre>

  <div *ngIf="obs | async as userCourant">
    <section *ngIf="!estUnchami && estInscrisMaintenant">
      <div>
        <h2> Bienvenu sur ce site !</h2>
        <p> Mr {{userCourant.displayName}}, Vous ne faites pas encore partie de la grande communauté des chaMis !! <br/>
          Inscrivez-vous en remplissant ce formulaire et profiter de la chance d'être un ChaMis!

        </p>

      </div>
      <form class="formulaire">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="text" [value]=userCourant.email #email>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Pseudo</mat-label>
          <input matInput type="text" #pseudo>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Âge</mat-label>
          <input matInput type="text" #age>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Ville</mat-label>
          <input matInput type="text" #ville>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput  #description></textarea>
        </mat-form-field>
        <div class="bouton inscription">

        <button  (click)="inscrireChamis(email.value,pseudo.value,age.value ,ville.value, description.value)">M'inscrire</button>


        <button  (click)="inscrirePlustard()">Plus tard</button>

        </div>

      </form>
    </section>
  </div>
 </pre>

 <div>
  <router-outlet></router-outlet>
</div>






















